env/
__pycache__/
*.pyc
.DS_Store
reports/
skaffold
/.vscode
/.idea
LAB experiments/datasets/Amazon_Fashion.jsonl
LAB experiments/datasets/CDs_and_Vinyl.jsonl
LAB experiments/datasets/product_id_mapper.json
LAB experiments/models/model_formatted_fashion_cpu_v2
LAB experiments/models/model_formatted_music_v2_cpu
